In [49]:
import pandas as pd 
import os 
import numpy as np

In [3]:
df_ct = pd.read_pickle('cotacao_commodities.pkl')
df_tm = pd.read_pickle('negociacao_derivativos_commodities.pkl')

In [4]:
df_ct.head(2)

,data_cotacao,cod_ric,cod_ticker,cotacao_tipo,fator_conversao,bolsa_negociacao,tipo_mercadoria,mercadoria,moeda,unidade_mercadoria,valor_cotacao
0,2019-08-23,BACAINDXF,BACAINDX,FECHAMENTO,1.0,BMF,GORDO - ESALQ SÃO PAULO,BOI,REAL,ARROBA LIQUIDA,156.10
1,2019-08-23,ICFU19,AXU9,AJUSTE,1.0,BMF,ARABICO EM GRAOS- TIPO 4/5,CAFE,DOLAR DOS EUA,SACA(60KG),111.35

In [5]:
df_ct.dtypes

data_cotacao          datetime64[ns]
cod_ric                       object
cod_ticker                    object
cotacao_tipo                  object
fator_conversao              float64
bolsa_negociacao              object
tipo_mercadoria               object
mercadoria                    object
moeda                         object
unidade_mercadoria            object
valor_cotacao                float64
dtype: object

In [6]:
df_tm.head(2)

,data_referencia,data_inicio,data_vencimento,numero_contrato,mercadoria,tipo,bolsa,unidade_negociacao,moeda,quantidade_negociada,vendedor,comprador
0,2019-07-18,2019-07-17,2019-08-30,77902613,BORRACHA,TSR20,SGX,TONELADA METRICA,(220) USD,2,Cliente 1,Mercado
1,2019-07-18,2019-07-18,2020-01-14,77902616,MILHO,EM GRAOS A GRANEL,BMF,SACA(60KG),(790) BRL,11250,Mercado,Cliente 1

In [7]:
df_tm.dtypes

data_referencia         datetime64[ns]
data_inicio             datetime64[ns]
data_vencimento         datetime64[ns]
numero_contrato                 object
mercadoria                      object
tipo                            object
bolsa                           object
unidade_negociacao              object
moeda                           object
quantidade_negociada             int64
vendedor                        object
comprador                       object
dtype: object

In [9]:
df_tm['vendedor'][df_tm['vendedor'] == 'Cliente 1'] = 'Cliente'
df_tm['comprador'][df_tm['comprador'] == 'Cliente 1'] = 'Cliente'
df_tm['comprador_vendedor'] = df_tm[['comprador', 'vendedor']].apply(lambda x: ' x '.join(x.dropna()), axis=1)

<ipython-input-9-7c969ca91979>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tm['vendedor'][df_tm['vendedor'] == 'Cliente 1'] = 'Cliente'
<ipython-input-9-7c969ca91979>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tm['comprador'][df_tm['comprador'] == 'Cliente 1'] = 'Cliente'

In [11]:
df_tm.head(2)

,data_referencia,data_inicio,data_vencimento,numero_contrato,mercadoria,tipo,bolsa,unidade_negociacao,moeda,quantidade_negociada,vendedor,comprador,comprador_vendedor
0,2019-07-18,2019-07-17,2019-08-30,77902613,BORRACHA,TSR20,SGX,TONELADA METRICA,(220) USD,2,Cliente,Mercado,Mercado x Cliente
1,2019-07-18,2019-07-18,2020-01-14,77902616,MILHO,EM GRAOS A GRANEL,BMF,SACA(60KG),(790) BRL,11250,Mercado,Cliente,Cliente x Mercado

In [13]:
df_ct.head(2)

,data_cotacao,cod_ric,cod_ticker,cotacao_tipo,fator_conversao,bolsa_negociacao,tipo_mercadoria,mercadoria,moeda,unidade_mercadoria,valor_cotacao
0,2019-08-23,BACAINDXF,BACAINDX,FECHAMENTO,1.0,BMF,GORDO - ESALQ SÃO PAULO,BOI,REAL,ARROBA LIQUIDA,156.10
1,2019-08-23,ICFU19,AXU9,AJUSTE,1.0,BMF,ARABICO EM GRAOS- TIPO 4/5,CAFE,DOLAR DOS EUA,SACA(60KG),111.35

In [14]:
#tratamento das chaves de união das bases de cmm e ctc
lista_tm = ['mercadoria','tipo','bolsa','unidade_negociacao','moeda']
for l in lista_tm:
    df_tm[l] = df_tm[l].str.strip()

lista_ct = ['bolsa_negociacao','tipo_mercadoria','mercadoria','moeda','unidade_mercadoria']    
for l in lista_ct:
    df_ct[l] = df_ct[l].str.strip()

In [16]:
df_merge = df_tm.merge(df_ct, how='inner', 
                      left_on=(['data_referencia','mercadoria','tipo','bolsa','unidade_negociacao']),
                      right_on=(['data_cotacao','mercadoria','tipo_mercadoria','bolsa_negociacao','unidade_mercadoria']))

In [ ]:
df_merge

In [18]:
df_merge.columns

Index(['data_referencia', 'data_inicio', 'data_vencimento', 'numero_contrato',
       'mercadoria', 'tipo', 'bolsa', 'unidade_negociacao', 'moeda_x',
       'quantidade_negociada', 'vendedor', 'comprador', 'comprador_vendedor',
       'data_cotacao', 'cod_ric', 'cod_ticker', 'cotacao_tipo',
       'fator_conversao', 'bolsa_negociacao', 'tipo_mercadoria', 'moeda_y',
       'unidade_mercadoria', 'valor_cotacao'],
      dtype='object')

In [29]:
df = df_merge.drop(columns=(['data_inicio','numero_contrato','data_vencimento','vendedor','comprador','data_cotacao',
                               'cotacao_tipo','bolsa_negociacao','tipo_mercadoria','moeda_y','unidade_mercadoria']))

df.rename(columns={'moeda_x':'moeda'}, inplace=True)

In [30]:
df.head(2)

,data_referencia,mercadoria,tipo,bolsa,unidade_negociacao,moeda,quantidade_negociada,comprador_vendedor,cod_ric,cod_ticker,fator_conversao,valor_cotacao
0,2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOH0,HOH0,1.0,1.9152
1,2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOX0,HOX0,1.0,1.8636

In [60]:
#importar dados de usd
#Conversor de Moedas: O Conversor de Moedas realiza o Web Scrapping do sistema de mesmo nome do Banco Central. Permite que seja importado as cotações diárias de diversas moedas diante do real. Para saber as moedas que são possíveis de importar, e consequentemente seus respectivos símbolos, utiliza-se a função currency.get_currency_list().
from bcb import currency
from bcb import sgs

Lista_moeda = currency.get_currency_list()

In [42]:
usd = currency.get(['USD'], start='2019-07-24', end='2022-05-18')
usd.head(2)

               USD
Date
2019-07-24  3.7596
2019-07-25  3.7849

In [62]:
ipca = sgs.get({'IPCA':433}, start='2019-07-24', end='2022-05-18')
ipca

            IPCA
Date
2019-07-01  0.19
2019-08-01  0.11
2019-09-01 -0.04
2019-10-01  0.10
2019-11-01  0.51
2019-12-01  1.15
2020-01-01  0.21
2020-02-01  0.25
2020-03-01  0.07
2020-04-01 -0.31
2020-05-01 -0.38
2020-06-01  0.26
2020-07-01  0.36
2020-08-01  0.24
2020-09-01  0.64
2020-10-01  0.86
2020-11-01  0.89
2020-12-01  1.35
2021-01-01  0.25
2021-02-01  0.86
2021-03-01  0.93
2021-04-01  0.31
2021-05-01  0.83
2021-06-01  0.53
2021-07-01  0.96
2021-08-01  0.87
2021-09-01  1.16
2021-10-01  1.25
2021-11-01  0.95
2021-12-01  0.73
2022-01-01  0.54
2022-02-01  1.01
2022-03-01  1.62
2022-04-01  1.06
2022-05-01  0.47

In [86]:
ipca.resample('12M').sum()

            IPCA
Date
2019-07-31  0.19
2020-07-31  2.29
2021-07-31  8.65
2022-07-31  9.66

In [92]:
ipca['acumulado'] = ipca['IPCA'].cumsum()

In [93]:
ipca

            IPCA  acumulado
Date
2019-07-01  0.19       0.19
2019-08-01  0.11       0.30
2019-09-01 -0.04       0.26
2019-10-01  0.10       0.36
2019-11-01  0.51       0.87
2019-12-01  1.15       2.02
2020-01-01  0.21       2.23
2020-02-01  0.25       2.48
2020-03-01  0.07       2.55
2020-04-01 -0.31       2.24
2020-05-01 -0.38       1.86
2020-06-01  0.26       2.12
2020-07-01  0.36       2.48
2020-08-01  0.24       2.72
2020-09-01  0.64       3.36
2020-10-01  0.86       4.22
2020-11-01  0.89       5.11
2020-12-01  1.35       6.46
2021-01-01  0.25       6.71
2021-02-01  0.86       7.57
2021-03-01  0.93       8.50
2021-04-01  0.31       8.81
2021-05-01  0.83       9.64
2021-06-01  0.53      10.17
2021-07-01  0.96      11.13
2021-08-01  0.87      12.00
2021-09-01  1.16      13.16
2021-10-01  1.25      14.41
2021-11-01  0.95      15.36
2021-12-01  0.73      16.09
2022-01-01  0.54      16.63
2022-02-01  1.01      17.64
2022-03-01  1.62      19.26
2022-04-01  1.06      20.32
2022-05-01  0.47      20.79

In [40]:
df.set_index('data_referencia', inplace=True)

In [41]:
df.head(2)

,mercadoria,tipo,bolsa,unidade_negociacao,moeda,quantidade_negociada,comprador_vendedor,cod_ric,cod_ticker,fator_conversao,valor_cotacao
data_referencia,,,,,,,,,,,
2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOH0,HOH0,1.0,1.9152
2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOX0,HOX0,1.0,1.8636

In [43]:
df['usd'] = usd['USD']

In [63]:
df.valor_cotacao.value_counts()

3244.0000    336
2721.0000    324
3728.5000    312
64.3400      309
0.1432       307
            ...
3.0656         1
0.6055         1
353.2000       1
204.4500       1
82.0600        1
Name: valor_cotacao, Length: 18962, dtype: int64

In [64]:
df.quantidade_negociada.value_counts()

75000      11144
37500       7579
187500      6743
150000      6401
5600000     5967
           ...
566            1
899            1
7551           1
10080          1
124            1
Name: quantidade_negociada, Length: 2004, dtype: int64

In [74]:
df.dtypes

mercadoria               object
tipo                     object
bolsa                    object
unidade_negociacao       object
moeda                    object
quantidade_negociada      int64
comprador_vendedor       object
cod_ric                  object
cod_ticker               object
fator_conversao         float64
valor_cotacao           float64
usd                     float64
notional_usd            float64
notional_brl            float64
dtype: object

In [78]:
df['notional_usd'] = df['quantidade_negociada']*df['valor_cotacao']
df['notional_brl'] = np.where(df['moeda']=='(220) USD', df['notional_usd']*df['usd'], df['notional_usd'])

In [79]:
df.head(2)

,mercadoria,tipo,bolsa,unidade_negociacao,moeda,quantidade_negociada,comprador_vendedor,cod_ric,cod_ticker,fator_conversao,valor_cotacao,usd,notional_usd,notional_brl
data_referencia,,,,,,,,,,,,,,
2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOH0,HOH0,1.0,1.9152,3.7596,6595948.8,2.479813e+07
2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOX0,HOX0,1.0,1.8636,3.7596,6418238.4,2.413001e+07

In [80]:
df['ipca'] = ipca['IPCA']

In [81]:
df.head(5)

,mercadoria,tipo,bolsa,unidade_negociacao,moeda,quantidade_negociada,comprador_vendedor,cod_ric,cod_ticker,fator_conversao,valor_cotacao,usd,notional_usd,notional_brl,ipca
data_referencia,,,,,,,,,,,,,,,
2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOH0,HOH0,1.0,1.9152,3.7596,6595948.8,2.479813e+07,NaN
2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOX0,HOX0,1.0,1.8636,3.7596,6418238.4,2.413001e+07,NaN
2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOJ1,HOJ1,1.0,1.8315,3.7596,6307686.0,2.371438e+07,NaN
2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOV9,HOV9,1.0,1.9676,3.7596,6776414.4,2.547661e+07,NaN
2019-07-24,OLEO,NY HARBOR ULSD FUTURES (HO),NYMEX,GALAO,(220) USD,3444000,Mercado x Cliente,HOX9,HOX9,1.0,1.9630,3.7596,6760572.0,2.541705e+07,NaN